
/* .rbc-event, .rbc-day-slot .rbc-background-event {
    padding: 2px 5px;
    background-color: rgba(251, 140, 0, 0.38) !important;
    height: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.rbc-row-bg,
.rbc-off-range-bg,
.rbc-today {
    background: #E0E0E0 !important;
}


.rs__cell {
    background-color: rgb(221, 221, 221) !important;
}


.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1ps6pg7-MuiPaper-root {
    border-radius: 30px !important;
    padding: 5px 20px !important;
}


.css-z3jy29 .rs__cell.rs__header>:first-of-type{
    display: none !important;
} */

/* .sweet-warning{
color:'#fcb532'
}
.sweet-warning1{
color:'#fcb532'
} */


















/*--------------------------------Responsive-----------------------------*/
@media screen and (min-width:1400px){ }
@media screen and (min-width:1280px){ }
@media screen and (min-width:1200px){ }
@media screen and (min-width:992px){ }
@media screen and (min-width:768px){ }
@media screen and (min-width:576px){ }

@media screen and (max-width:1400px){ }
@media screen and (max-width:1280px){
  .mainContent {
    width: 100%;
  }
}
@media screen and (max-width:1100px){ }
@media screen and (max-width:992px){ }
@media screen and (max-width:768px){ }
@media screen and (max-width:576px){ }
