.calendarWeekRow {
    /* flex-wrap: nowrap ; */
    width: 100%;
}
.calendarWeekRow::-webkit-scrollbar {
    /* width: 10px; */
    /* height: 5px;
    border-radius: 10px;
    background-color: #73716e;
    border-radius: 10px; */
}
.calendarBox {
    min-width: 143px;
}
/* .calendarWeekRow::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  } */